h2 {
text-align:center;
font-family: Calibri;
font-size: 36px;
font-weight: bold;
margin-bottom: 15px; 
}

h3 {
text-align:center;
font-family: Calibri;
font-size: 20px;
font-style: italic;
font-weight: bold;
color:black;
margin: 20px 0;
}

body {
    text-align: center;
    background-color: transparent;
    border: 10px;
    text-align: center;
    font-family: Calibri;
    font-size: 17px;
    line-height: normal;
    padding-bottom: 0px; 
}

#demo {
 margin-top: 60px;
 width:25%;
 margin-left: auto;
    margin-right: auto;
 }

.carousel-indicators {
 bottom: -45px;   
}
